@import '../../styles/variables.global.css';

.info-plant {
  margin-top: 30px;
  padding: 0 30px;
  width: 100%;
}

.info-header {
  position: relative;
  margin-top: 30px;
  padding: 26px 30px;
  border-radius: 8px 8px 0 0; /* no */
  background-color: $color-golden;
  background: -ms-linear-gradient(left, $color-golden, $color-golden-light);
  background: -webkit-linear-gradient(left, $color-golden, $color-golden-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-header .logo {
  width: 153px;
  height: 97px;
}
.info-header .arrow {
  width: 30px;
  height: 25px;
}

.info-body {
  padding: 40px 30px;
  background-color: $color-white;
  h4 {
    font-size: 15px; /* no */
    line-height: 42px;
  }
  p {
    margin-top: 4px;
    color: $font-color-light;
    font-size: 13px; /* no */
    line-height: 36px;
    letter-spacing: 1px; /* no */
  }
}

.info-footer {
  padding: 0 30px;
  background-color: $color-white;
  border-top: 1px solid $bg-color-default; /* no */  
  border-radius: 0 0 8px 8px; /* no */ 
}