{
    "env": {
        "development": {
            "plugins": ["react-hot-loader/babel"]
        },
        "production": {
            "compact": true
        }
    },
    "plugins": ["transform-decorators-legacy", "lodash"],
    "presets": ["react-app"]
}
