.input-box {
  padding: 24px 20px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #eee;
  font-size: 14px; /* no */
  display: flex;
  align-items: center;
  label {
    min-width: 150px;
    border-right: 1px solid #eee;
    font-size: 14px; /* no */
    font-weight: bold;
    display: block;
  }
  input {
    padding: 0 20px;
    flex-grow: 2;
    height: 50px;
    background-color: #fff;
    border: 0;
    font-size: 14px; /* no */
    line-height: 50px;
    outline: none;
  }
  textarea {
    padding: 0 20px;
    flex-grow: 2;
    line-height: 40px;
    font-size: 14px; /* no */
    background-color: #fff;
    border: 0;
    outline: none;
  }    
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 20px;
    flex-grow: 2;
    height: 50px;
    background-color: #fff;
    border: 0;
    font-size: 14px; /* no */
    line-height: 50px;
    outline: none;
  }
  .select-group {
    width: 100%;
    .option-layout {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 10;
    }
    .option-list {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40%;
      background-color: #fff;
    }
  }
}
