@import '../../styles/variables.global.css';

.tabs-plan {
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: $color-white;
}

.tabs-box {
  height: 100px;
  position: relative;
  text-align: center;
  border-bottom: 6px solid $color-white;
  p {
    font-size: 15px; /* no */
    font-weight: bold;
    line-height: 100px;
    color: $font-color-light;
  }
}

.tabs-active {
  height: 100px;
  position: relative;
  text-align: center;
  border-bottom: 6px solid $color-golden;
  p {
    font-size: 15px; /* no */
    font-weight: bold;
    line-height: 100px;
    color: $color-golden;
  }
}