.addCard {
    background: #fff;
    min-height: 100%;
    overflow: hidden;
}
.message {
    margin:0 30px;
    line-height: 120px;
    border-bottom: 2px solid #e7e7e7;
}
.name {
    font-family: PingFang-SC-Medium;
    font-size: 32px;
    color: #474747;
    letter-spacing: 0;
}
.message input {
    height: 40px;
    border: 0;
    outline: 0;
    font-family: PingFang-SC-Medium;
    font-size: 32px;
    color: #474747;
    letter-spacing: 0;
}
.message input::-webkit-input-placeholder {
    font-family: PingFang-SC-Medium;
    font-size: 32px;
    color: #B8B8B8;
    letter-spacing: 0;
}
.btn {
    margin: 70px 30px;
}
.btn button {
    border-radius: 8px;
}
.cardNo {
    width: 85%;
}