.wallet {
    background: #fff;
    min-height: 100%;
    overflow: hidden;
}
.message {
    margin:0 30px;
    line-height: 120px;
    border-bottom: 2px solid #e7e7e7;
}
.name {
    font-family: PingFang-SC-Medium;
    font-size: 32px;
    color: #474747;
    letter-spacing: 0;
}
.msgErr {
    font-family: PingFang-SC-Medium;
    font-size: 28px;
    color: #B8B8B8;
    letter-spacing: 0;
    text-align: right;
    position: absolute;
    right: 50px;
}
.message img {
    width: 20px;
    margin-left: 1.4%;
    margin-top:45px;
    float: right;
    font-family: PingFang-SC-Medium;
    font-size: 32px;
    color: #474747;
    letter-spacing: 0;
}
.message input {
    height: 60px;
    line-height: 60px;
    border: 0;
    outline: none;
    font-size: 32px;
}
.message input::-webkit-input-placeholder {
    font-family: PingFang-SC-Medium;
    font-size: 32px;
    color: #B8B8B8;
    letter-spacing: 0;
}
.remark {
    font-family: PingFang-SC-Medium;
    font-size: 22px;
    color: #474747;
    letter-spacing: 0;
    margin-left: 30px;
    margin-top: 20px;
}
.btn {
    margin: 70px 30px;
}
.btn button {
    border-radius: 8px;
}
.errDialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 999;
    background: rgba(71,71,71,0.80);
}
.errMSG {
    width: 540px;
    height: 263px;
    border-radius: 8px;
    background: #fff;
    position: absolute;
    top: 35.3%;
    left: 14%;
    z-index: 1000;
}
.phoneNum {
    font-family: PingFangSC-Semibold;
    font-size: 34px;
    color: #2C2D2E;
    letter-spacing: 0;
    text-align: center;
    line-height: 160px;
    border-bottom: 2px solid #e7e7e7;
}
.phoneOperate {
    display: flex;
}
.phoneOperate button {
    background: #fff !important;
    font-family: PingFangSC-Regular;
    font-size: 34px;
    color: #2C2D2E;
    letter-spacing: 0;
    width: 50%; 
}
.phoneOperate a {
    display: block;
    width: 50%;
}
.phoneOperate a button {
   color: #C3AA82;
   margin-left: 50px;
}