:root {
  /* 与文件名对应，添加新图标后需添加对应变量 */
  --icons: boy, girl, empty, arrow, big_tick, bill, call, check, consult,
    contract, edit, icon_point, yes, money, no, photo, clear_x, caret, icon_add;
}

@define-mixin icon $name {
  display: inline-block;
  width: width($(name).png);
  height: height($(name).png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

@each $icon in var(--icons) {
  .$(icon) {
    @mixin icon $icon;
  }
}
