@import '../styles/variables.global.css';

.title {
  margin-top: 54px;
  font-size: 18px; /* no */
  text-align: center;
}
.descripe {
  margin-top: 13px;
  font-size: 12px; /* no */
  color: $font-color-light;
  display: block;
}

.input-group {
  margin: 31px 0;
  padding: 0 30px;
  div {
    margin-top: -1px; /* no */
  }
  div:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  div:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.form-footer {
  position: relative;
  margin-top: 90px;
  width: 100%;
}

.code-button {
  /* min-width: 180px; */
  color: $color-golden;
}

.code-button-display {
  color: $font-color-remark;
}

.modal {
  width: 100%;
  height: 100%;
  .list {
    width: 100%;
    height: 100%;
    align-items: center;
    overflow-y: scroll;
    li {
      padding: 24px 30px;
      background-color: #fff;
      border-bottom: 1px solid #eee;
      font-size: 14px; /* no */
    }
    .active-item {
      background-color: $bg-color-light;
      color: $color-golden;
    }
  }
  
  .header {
    padding: 0 30px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text-button {
      font-size: 14px; /* no */
      color: $color-golden;
    }
    .header-title {
      font-size: 17px; /* no */
    }
  }
}