@import '../styles/variables.global.css';

.house-item {
  margin-bottom: 40px;
  background: #fff;
}

.item-tit {
  line-height: 1;
  padding: 40px 10px 40px 30px;
  font-size: 18px; /* no */
  border-bottom: 1px solid $bg-color-default; /* no */
}

.item-desc {
  padding: 30px 30px;
  font-size: 12px; /* no */
  color: $font-color-light;
  a {
    color: $font-color-light;
  }
  i {
    color: $color-golden;
    font-size: 16px; /* no */
    font-style: normal;
    vertical-align: middle;
  }
}

.background-tips {
  position: relative;
  top: 168px;
  text-align: center;
  font-size: 15px; /* no */
  img {
    width: 166px;
    height: auto;
  }
  span {
    color: $color-golden;
  }
}

.call-icon {
  width: 27px;
  height: 27px;
  background-image: url('../assets/imgs/icons/call_2.png');
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}