@import '../styles/variables.global.css';

.house-item {
  margin-bottom: 40px;
  background: #fff;
}

.item-tit {
  line-height: 1;
  padding: 40px 10px 40px 30px;
  font-size: 18px; /* no */
  border-bottom: 1px solid $bg-color-default; /* no */
}

.item-desc {
  padding: 30px 30px;
  font-size: 12px; /* no */
  color: $font-color-light;
  a {
    color: $font-color-light;
  }
  i {
    color: $color-golden;
    font-style: normal;
  }
}

.background-tips {
  position: relative;
  top: 168px;
  text-align: center;
  font-size: 15px; /* no */
  img {
    width: 166px;
    height: auto;
  }
  span {
    color: $color-golden
  }
}
