@import '../styles/variables.global.css';

.purchase {
  background: $color-white;
  padding: 30px;
  border-bottom: 1px solid #f5f6f7;
  position: relative;
  width: 100%;
  top: 0px;
  height: 240px;
  .purchase-title {
    padding-left: 240px;
    font-size: 30px;
    font-weight: 500;
    font-family: PingFang-SC-Medium;
    color: #474747;
  }
  .purchase-money {
    text-align: right;
    padding-top: 30px;
    font-size: 12px;
    span {
      font-family: PingFangSC-Semibold;
      font-size: 36px;
      font-weight: bold;
      display: inline-block;
      padding-right: 10px;
    }
  }
}
.purchase span {
  display: inline-block;
}
.purchase img{
  
  display: inline-block;
  /* vertical-align: middle; */
  
}
.purchase-left {
  position: absolute;
  top: 30px;
  left: 30px;
  img{
    width: 220px;
    /* height: 180px; */
    border-radius: 2px;
  }
}
