@import '../styles/variables.global.css';

.room-item {
  padding: 30px;
  margin-bottom: 20px;
  background: $color-white;
}

.item-tit {
  h2 {
    margin-right: 20px;
    font-size: 16px; /* no */
    line-height: 94px;
    display: inline-block;
  }
  i {
    padding: 2px 10px;
    margin-right: 20px;
    background-color: $color-golden-light;
    color: $color-white;
    font-size: 10px; /* no */
    font-style: normal;
    vertical-align: middle;
  }
}

.item-desc {
  margin-bottom: 20px;
  font-size: 15px; /* no */
  color: $font-color-light;
  i {
    color: $border-color-light;
    font-style: normal;
    vertical-align: top;
  }
}
