@import '../styles/variables.global.css';
.ServiceOrderDetile {
  .ServiceOrderInfo {
    padding: 0 30px 24px;
    background: #fff;
    margin-bottom: 20px;
    h2 {
      padding: 24px 0;
      font-size: 32px;
      color: #474747;
      border-bottom: 1px solid #f5f6f7;
    }
  }
  .serviceName {
    font-size: 30px;
    color: #474747;
    padding: 20px 0 0;
  }
  .ServiceOrderType {
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f6f7; 
  }
  .serviceOrder-item {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: #474747;
    padding-top: 20px;
    /* border-bottom: 1px solid #f5f6f7; */
    .serviceOrder-item-type {
      color: $color-golden;
    }
    .serviceOrder-item-close {
      color: #D8D8D8;
    }
  }
  .block {
    /* height: 42px; */
    /* line-height: 42px; */
    font-size: 30px;
    color: #474747;
    font-family: PingFangSC-Regular;
    padding: 20px 0 0;
    position: relative;
    height: 100%;
    span {
      position: absolute;
      top: 20px;
      left: 0;
    }
    p{
      margin-left: 110px;
    }
    img {
      padding-bottom: 40px; 
    }
  }
}