@import '../../styles/variables.global.css';

.bill-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  th {
    padding: 30px;
    font-size: 15px; /* no */
    border-bottom: 1px solid #e7e7e7; /* no */
    text-align: left;
  }

  td {
    padding: 28px 30px;
    font-size: 12px; /* no */
    text-align: center;
    border-bottom: 1px solid #e7e7e7; /* no */
    text-align: left;
  }
}

.border-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  th {
    padding: 12px 20px;
    border: 1px solid #e7e7e7; /* no */
    text-align: left;
    font-weight: 500;
  }
  td {
    padding: 12px 20px;
    border: 1px solid #e7e7e7; /* no */
  }
}

.table-title {
  padding: 23px 0;
  border: 1px solid #e7e7e7; /* no */
  border-bottom: 0;
  font-size: 15px; /* no */
  font-weight: bold;
  text-align: center;
}