.view {
  height: 100%;
  position: relative;
}
.god-pic-box {
  height: 650px;
  line-height: 0;
  img {
    width: 100%;
  }
  position: relative;
  div{
    position: absolute;
    top: 34px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 140%;
    color: #A58D68;
    font-size: 18px; /* no */
    font-weight: 600;
  }
}

.coin {
  width: width('fortune/coin.png');
  height: height('fortune/coin.png');
  display: inline-block;
  line-height: 1;
  background-image: url('../../assets/imgs/fortune/coin.png');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.words {
  font-size: 16px; /* no */
  color: #c3aa82;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 30px;
  .text {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
  }
}

.income-input-box {
  padding: 0 45px;
}

.income-input {
  padding: 23px 20px;
  font-size: 15px; /* no */
  border: 1px solid #d8d8d8; /* no */
  border-radius: 8px;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.result-btn {
  display: block;
  width: 100%;
  height: height('../../assets/imgs/fortune/btn_calculate.png');
  line-height: height('../../assets/imgs/fortune/btn_calculate.png');
  font-size: 0;
  background-image: linear-gradient(-270deg, #C3AA82 0%, #E2CBA7 100%);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-size: 15px;/* no */
  transition: transform 0.05s ease;
  &:active {
    transform: scale(0.98);
  }
}

.anim-box {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7) url('../../assets/imgs/fortune/bg_light.png')
    center/cover;

  display: none;
  &.show {
    display: block;
  }
}
