.result-box {
  padding: 40px;
}

.title {
  h2 {
    font-size: 24px; /* no */
    text-align: center;
    color: #b89e75;
  }
}
.result-cont {
  padding: 40px 0;
  overflow: hidden;
  position: relative;
}

@define-mixin part $name {
  width: width('../../assets/imgs/fortune/p$(name).png');
  height: height('../../assets/imgs/fortune/p$(name).png');
  background-image: url('../../assets/imgs/fortune/p$(name).png');
  background-size: cover;
  background-repeat: no-repeat;
  color:#fff;
  float: left;
  margin-bottom:20px;
  box-sizing:border-box;
  padding:30px;
  &:nth-of-type(2n+1){
      margin-right:20px;
  }
  &:nth-of-type(2n+2){
    text-align:right;
}
}

@each $part in (1, 2, 3, 4) {
  .p$(part) {
    @mixin part $part;
  }
}

.p-center {
    position: absolute;
    width: width('../../assets/imgs/fortune/btn_center.png');
    height: height('../../assets/imgs/fortune/btn_center.png');
    background-image: url('../../assets/imgs/fortune/btn_center.png');
    background-size: contain;
    overflow: hidden;
    left: 0;
    top: -4vw;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 0;
    &:active{
        transform:  scale(0.98);
    }
}
.p-tit {
    font-size: 18px;/* no */
}
.p-money {
    font-size: 18px;/* no */
    margin-bottom: 28px;
    margin-top: 7px;

    @media screen and (max-width:321px){
        margin-bottom: 0;
    }
}
.p-num {
    font-weight: bold;
    font-size: 30px;/* no */
}
.p-desc {
    font-size: 14px;/* no */
    text-align: left;
    
    @media screen and (max-width:321px){
        font-size: 12px;/* no */
    }
}
