@import '../../styles/variables.global.css';

.hr-title {
  padding: 0 30px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px; /* no */
  h2 {
    font-size: 18px; /* no */
     span {
      display: block;
      font-size: 12px; /* no */
      color: $font-color-light;
      font-weight: lighter;
    }
  }
}

.hr-line {
  width: 170px;
  height: 0;
  border-top: 1px solid $border-color-default; /* no */
}